@import url(https://fonts.googleapis.com/css?family=Voces|Rancho);

.welcome {
    height: 600px;
}

.navbar {
    height: 80px;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
    margin-bottom: 20px;
}

    .navbar .navbar-brand {
        font-size: 30px;
        font-family: 'Rancho', 'sans-serif';
    }

    .navbar a {
        font-size: 20px;
        font-family: 'Source Code Pro', monospace;
    }

    .navbar .social-icon {
        font-size: 25px;
    }

    /* Solid class attached on scroll past first section */
    .navbar.solid {
        background-color: black;
        transition: background-color 1s ease 0s;
        box-shadow: 0 0 4px grey;
    }

        .navbar.solid .navbar-brand {
            font-size: 30px;
            font-family: 'Rancho', 'sans-serif';
            color: white;
            transition: color 1s ease 0s;
        }

        .navbar.solid .navbar-nav > li > a {
            color: black;
            transition: color 1s ease 0s;
        }

        .navbar.solid a {
            font-size: 20px;
            font-family: 'Source Code Pro', monospace;
        }

        .navbar.solid .social-icon {
            font-size: 25px;
        }

        .dropdown-item:hover {
            background-color: gainsboro;
        }

.welcome-overlay {
    background: url("images/codeblur.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.welcome-text {
    font-size: 40px;
    font-family: 'Source Code Pro', monospace;
    padding-top: 70px;
}

.intro-overlay {
    background: url("images/backdark.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay {
    background: url("images/osudarkcrop.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 99;
}

.interest-overlay {
    background: url("images/Howling_Abyss_Landscapedark.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 99;
}

.project-overlay {
    background: url("images/osu2dark.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 99;
}

.welcome-image {
    width: 500px;
    height: 500px;
}

.content {
    padding: 20px;
}

.about {
    height: 400px;
    width: 400px;
}

.about-text {
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.footer-text {
    font-size: 15px;
}

.interest {
    width: 400;
    height: 282px;
}

.carousel a {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #c03a2c;
    border-color: transparent;
}

.interest-button a {
    text-align: center;
    border-color: transparent;
}

.carousel:hover img,
.interest-button:hover img {
    transition: 1s ease;
    opacity: 0.7;
}

.carousel:hover a,
.interest-button:hover a {
    transition: 1s ease;
    opacity: 1;
}

.carousel a:hover,
.interest-button a:hover {
    background-color: grey;
    border-color: transparent;
}

.skill {
    font-size: 100px;
    color: white;
}

.extra {
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
    border-top: 1px solid white;
}

.navbar .navbar-nav .project-drop {
    background: transparent;
    border: transparent;
}

.navbar.solid .navbar-nav .project-drop {
    background: transparent;
    border: transparent;
}

.bio img {
    height: 300px;
    width: 300px;
    margin-top: 20px;
}

.contact-icon {
    padding-top: 100px;
}

.project-image {
    height: 400px;
    width: 575px;
    margin-bottom: 40px;
}

.defense-image {
    height: 280px;
    width: 410px;
    margin-top: 20px;
    margin-bottom: 60px;
}
